# --- Day 3: Gear Ratios ---
You and the Elf eventually reach a gondola lift station; he says the gondola lift will take you up to the water source, but this is as far as he can bring you. You go inside.

It doesn't take long to find the gondolas, but there seems to be a problem: they're not moving.

"Aaah!"

You turn around to see a slightly-greasy Elf with a wrench and a look of surprise. "Sorry, I wasn't expecting anyone! The gondola lift isn't working right now; it'll still be a while before I can fix it." You offer to help.

The engineer explains that an engine part seems to be missing from the engine, but nobody can figure out which one. If you can add up all the part numbers in the engine schematic, it should be easy to work out which part is missing.

The engine schematic (your puzzle input) consists of a visual representation of the engine. There are lots of numbers and symbols you don't really understand, but apparently any number adjacent to a symbol, even diagonally, is a "part number" and should be included in your sum. (Periods (.) do not count as a symbol.)

Here is an example engine schematic:

467..114..
...*......
..35..633.
......#...
617*......
.....+.58.
..592.....
......755.
...$.*....
.664.598..
In this schematic, two numbers are not part numbers because they are not adjacent to a symbol: 114 (top right) and 58 (middle right). Every other number is adjacent to a symbol and so is a part number; their sum is 4361.

Of course, the actual engine schematic is much larger. What is the sum of all of the part numbers in the engine schematic?

In [1]:
import pandas as pd
from aocd import get_data, submit

In [3]:
input_string = get_data(day=3, year=2023)

In [15]:
list_of_strings = input_string.split('\n')

In [37]:
len(list_of_strings)

140

In [44]:
import re
# Define a regular expression pattern to match numbers
pattern = re.compile(r'\d+')
match_positions = []

# Iterate through each string in the list
for idx, string in enumerate(list_of_strings):
    # Find all matches of the pattern in the current string
    matches = pattern.finditer(string)

    # Print the positions of numbers in the current string
    for match in matches:
        match_position = [(idx, match.start()-1+x) for x in range(len(match.group())+2)]
        above_match = [(idx-1, match.start()-1+x) for x in range(len(match.group())+2)]
        below_match = [(idx+1, match.start()-1+x) for x in range(len(match.group())+2)]
        match_position = [match.group()] + match_position + above_match + below_match
        match_positions.append(match_position)

In [46]:
df = pd.DataFrame(data=match_positions)

In [47]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,679,"(0, 0)","(0, 1)","(0, 2)","(0, 3)","(0, 4)","(-1, 0)","(-1, 1)","(-1, 2)","(-1, 3)","(-1, 4)","(1, 0)","(1, 1)","(1, 2)","(1, 3)","(1, 4)"
1,662,"(0, 8)","(0, 9)","(0, 10)","(0, 11)","(0, 12)","(-1, 8)","(-1, 9)","(-1, 10)","(-1, 11)","(-1, 12)","(1, 8)","(1, 9)","(1, 10)","(1, 11)","(1, 12)"
2,71,"(0, 15)","(0, 16)","(0, 17)","(0, 18)","(-1, 15)","(-1, 16)","(-1, 17)","(-1, 18)","(1, 15)","(1, 16)","(1, 17)","(1, 18)",None,None,None
3,805,"(0, 45)","(0, 46)","(0, 47)","(0, 48)","(0, 49)","(-1, 45)","(-1, 46)","(-1, 47)","(-1, 48)","(-1, 49)","(1, 45)","(1, 46)","(1, 47)","(1, 48)","(1, 49)"
4,862,"(0, 58)","(0, 59)","(0, 60)","(0, 61)","(0, 62)","(-1, 58)","(-1, 59)","(-1, 60)","(-1, 61)","(-1, 62)","(1, 58)","(1, 59)","(1, 60)","(1, 61)","(1, 62)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1203,372,"(139, 44)","(139, 45)","(139, 46)","(139, 47)","(139, 48)","(138, 44)","(138, 45)","(138, 46)","(138, 47)","(138, 48)","(140, 44)","(140, 45)","(140, 46)","(140, 47)","(140, 48)"
1204,474,"(139, 81)","(139, 82)","(139, 83)","(139, 84)","(139, 85)","(138, 81)","(138, 82)","(138, 83)","(138, 84)","(138, 85)","(140, 81)","(140, 82)","(140, 83)","(140, 84)","(140, 85)"
1205,432,"(139, 119)","(139, 120)","(139, 121)","(139, 122)","(139, 123)","(138, 119)","(138, 120)","(138, 121)","(138, 122)","(138, 123)","(140, 119)","(140, 120)","(140, 121)","(140, 122)","(140, 123)"
1206,471,"(139, 123)","(139, 124)","(139, 125)","(139, 126)","(139, 127)","(138, 123)","(138, 124)","(138, 125)","(138, 126)","(138, 127)","(140, 123)","(140, 124)","(140, 125)","(140, 126)","(140, 127)"
1207,729,"(139, 132)","(139, 133)","(139, 134)","(139, 135)","(139, 136)","(138, 132)","(138, 133)","(138, 134)","(138, 135)","(138, 136)","(140, 132)","(140, 133)","(140, 134)","(140, 135)","(140, 136)"

In [50]:
len(list_of_strings[0])

140

In [55]:
data = []

for string in list_of_strings:
    data.append([*string])

engine_schematic = pd.DataFrame(data)

In [56]:
engine_schematic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Columns: 140 entries, 0 to 139
dtypes: object(140)
memory usage: 153.2+ KB

In [57]:
engine_schematic.shape

(140, 140)

In [58]:
engine_schematic

,0,1,2,3,4,5,6,7,8,9,...,130,131,132,133,134,135,136,137,138,139
0,.,6,7,9,.,.,.,.,.,6,...,.,.,.,6,8,7,.,.,.,.
1,.,.,.,.,.,.,.,.,.,.,...,9,2,.,.,.,.,.,.,.,.
2,.,.,.,.,.,.,.,.,.,.,...,.,*,.,.,.,.,.,.,.,.
3,.,.,.,.,.,.,.,.,.,.,...,.,5,7,9,.,.,.,.,.,.
4,.,.,.,.,.,.,.,5,6,6,...,.,.,.,.,.,.,.,.,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,.,.,6,4,9,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
136,.,.,.,.,.,.,.,.,.,2,...,.,.,.,4,4,3,.,.,.,.
137,.,.,.,.,.,.,.,.,.,.,...,.,.,@,.,.,.,.,.,.,.
138,.,.,.,.,.,.,8,0,6,.,...,.,.,.,.,.,.,.,.,.,.
139,.,.,.,.,.,.,.,.,.,.,...,.,.,.,7,2,9,.,.,.,.

In [70]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,679,"(0, 0)","(0, 1)","(0, 2)","(0, 3)","(0, 4)","(-1, 0)","(-1, 1)","(-1, 2)","(-1, 3)","(-1, 4)","(1, 0)","(1, 1)","(1, 2)","(1, 3)","(1, 4)"
1,662,"(0, 8)","(0, 9)","(0, 10)","(0, 11)","(0, 12)","(-1, 8)","(-1, 9)","(-1, 10)","(-1, 11)","(-1, 12)","(1, 8)","(1, 9)","(1, 10)","(1, 11)","(1, 12)"
2,71,"(0, 15)","(0, 16)","(0, 17)","(0, 18)","(-1, 15)","(-1, 16)","(-1, 17)","(-1, 18)","(1, 15)","(1, 16)","(1, 17)","(1, 18)",None,None,None
3,805,"(0, 45)","(0, 46)","(0, 47)","(0, 48)","(0, 49)","(-1, 45)","(-1, 46)","(-1, 47)","(-1, 48)","(-1, 49)","(1, 45)","(1, 46)","(1, 47)","(1, 48)","(1, 49)"
4,862,"(0, 58)","(0, 59)","(0, 60)","(0, 61)","(0, 62)","(-1, 58)","(-1, 59)","(-1, 60)","(-1, 61)","(-1, 62)","(1, 58)","(1, 59)","(1, 60)","(1, 61)","(1, 62)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1203,372,"(139, 44)","(139, 45)","(139, 46)","(139, 47)","(139, 48)","(138, 44)","(138, 45)","(138, 46)","(138, 47)","(138, 48)","(140, 44)","(140, 45)","(140, 46)","(140, 47)","(140, 48)"
1204,474,"(139, 81)","(139, 82)","(139, 83)","(139, 84)","(139, 85)","(138, 81)","(138, 82)","(138, 83)","(138, 84)","(138, 85)","(140, 81)","(140, 82)","(140, 83)","(140, 84)","(140, 85)"
1205,432,"(139, 119)","(139, 120)","(139, 121)","(139, 122)","(139, 123)","(138, 119)","(138, 120)","(138, 121)","(138, 122)","(138, 123)","(140, 119)","(140, 120)","(140, 121)","(140, 122)","(140, 123)"
1206,471,"(139, 123)","(139, 124)","(139, 125)","(139, 126)","(139, 127)","(138, 123)","(138, 124)","(138, 125)","(138, 126)","(138, 127)","(140, 123)","(140, 124)","(140, 125)","(140, 126)","(140, 127)"
1207,729,"(139, 132)","(139, 133)","(139, 134)","(139, 135)","(139, 136)","(138, 132)","(138, 133)","(138, 134)","(138, 135)","(138, 136)","(140, 132)","(140, 133)","(140, 134)","(140, 135)","(140, 136)"

In [72]:
for i, j in df.iloc[:10,1:].iterrows():
    print(i, j)

0 1      (0, 0)
2      (0, 1)
3      (0, 2)
4      (0, 3)
5      (0, 4)
6     (-1, 0)
7     (-1, 1)
8     (-1, 2)
9     (-1, 3)
10    (-1, 4)
11     (1, 0)
12     (1, 1)
13     (1, 2)
14     (1, 3)
15     (1, 4)
Name: 0, dtype: object
1 1       (0, 8)
2       (0, 9)
3      (0, 10)
4      (0, 11)
5      (0, 12)
6      (-1, 8)
7      (-1, 9)
8     (-1, 10)
9     (-1, 11)
10    (-1, 12)
11      (1, 8)
12      (1, 9)
13     (1, 10)
14     (1, 11)
15     (1, 12)
Name: 1, dtype: object
2 1      (0, 15)
2      (0, 16)
3      (0, 17)
4      (0, 18)
5     (-1, 15)
6     (-1, 16)
7     (-1, 17)
8     (-1, 18)
9      (1, 15)
10     (1, 16)
11     (1, 17)
12     (1, 18)
13        None
14        None
15        None
Name: 2, dtype: object
3 1      (0, 45)
2      (0, 46)
3      (0, 47)
4      (0, 48)
5      (0, 49)
6     (-1, 45)
7     (-1, 46)
8     (-1, 47)
9     (-1, 48)
10    (-1, 49)
11     (1, 45)
12     (1, 46)
13     (1, 47)
14     (1, 48)
15     (1, 49)
Name: 3, dtype: object
4 1      (0, 58)
2      (0, 59)
3      (0, 60)
4      (0, 61)
5      (0, 62)
6     (-1, 58)
7     (-1, 59)
8     (-1, 60)
9     (-1, 61)
10    (-1, 62)
11     (1, 58)
12     (1, 59)
13     (1, 60)
14     (1, 61)
15     (1, 62)
Name: 4, dtype: object
5 1      (0, 62)
2      (0, 63)
3      (0, 64)
4      (0, 65)
5      (0, 66)
6     (-1, 62)
7     (-1, 63)
8     (-1, 64)
9     (-1, 65)
10    (-1, 66)
11     (1, 62)
12     (1, 63)
13     (1, 64)
14     (1, 65)
15     (1, 66)
Name: 5, dtype: object
6 1      (0, 132)
2      (0, 133)
3      (0, 134)
4      (0, 135)
5      (0, 136)
6     (-1, 132)
7     (-1, 133)
8     (-1, 134)
9     (-1, 135)
10    (-1, 136)
11     (1, 132)
12     (1, 133)
13     (1, 134)
14     (1, 135)
15     (1, 136)
Name: 6, dtype: object
7 1     (1, 19)
2     (1, 20)
3     (1, 21)
4     (1, 22)
5     (1, 23)
6     (0, 19)
7     (0, 20)
8     (0, 21)
9     (0, 22)
10    (0, 23)
11    (2, 19)
12    (2, 20)
13    (2, 21)
14    (2, 22)
15    (2, 23)
Name: 7, dtype: object
8 1     (1, 32)
2     (1, 33)
3     (1, 34)
4     (1, 35)
5     (1, 36)
6     (0, 32)
7     (0, 33)
8     (0, 34)
9     (0, 35)
10    (0, 36)
11    (2, 32)
12    (2, 33)
13    (2, 34)
14    (2, 35)
15    (2, 36)
Name: 8, dtype: object
9 1     (1, 37)
2     (1, 38)
3     (1, 39)
4     (1, 40)
5     (1, 41)
6     (0, 37)
7     (0, 38)
8     (0, 39)
9     (0, 40)
10    (0, 41)
11    (2, 37)
12    (2, 38)
13    (2, 39)
14    (2, 40)
15    (2, 41)
Name: 9, dtype: object